 {% extends 'blank.html' %}  
 {% load static %}
 {% block content %}
 
   <!-- breadcrumb start -->
   
    <!-- breadcrumb end -->
    <!-- cart start -->
	<link type="text/css" rel="stylesheet" href="{% static 'cart/bootstrap.min.css'%}"/>
	<link type="text/css" rel="stylesheet" href="{% static 'cart/style.css'%}"/>
    <div class="pa-cart spacer-top spacer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="pa-cart-box">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product image</th>
                                    <th>Product name</th>
                                    <th>unit price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
									<th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>
								{% for i in filteredprod%}
									<tr>
										<td>
											<div class="pa-cart-img">
												<img src="{{i.product.photo.url}}" alt="image" class="img-fluid"/>
											</div>
										</td>
										<td>
											{{i.product.name}}
										</td>
										{% comment %} {% if i.product.discount%}
											<td>${{i.product.discount}}</td>
										{% else%} {% endcomment %}
										<td>${{i.product.price}}</td>
										{% comment %} {% endif%} {% endcomment %}

										<td>
											<div class="pa-cart-quantity">
                                                {% if i.quantity == 1%}
												    <a href="#"><button class="pa-sub"></button></a>
                                                {% else%}
												    <a href="/subtract/{{i.id}}/"><button class="pa-sub"></button></a>
												{% endif%}
                                                <div class="quantity">{{i.quantity}}</div>
                                                {% if i.quantity == 2%}
                                                    <a href=""><button class="pa-add"></button></a>
                                                {% else%}
                                                    <a href="/addself/{{i.id}}/"><button class="pa-add"></button></a>
                                                {% endif%}
											</div>
										</td>
										<td>${{i.totalPay}}</td>
										<td><a href="/delete-cart/{{i.id}}"> Delete</a></td>

									</tr>
								{% endfor%}
                                
                                <tr>
                                    <td colspan="4" class="pa-cart-total">
                                        <p>Sub Total:</p>
                                    </td>
                                    <td class="pa-cart-total-price">
                                     
                                        <p>${{order.total}}</p>
                                        

                                            
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"><a href="/checkout/" class="pa-btn">continue Shopping</a></td>
                                </tr>
                            </tbody>
                        </table>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cart end -->
	{% endblock content %}
  